
Reimbursement/API/obj/
Reimbursement/API/bin/
Reimbursement/API/Migrations/
Reimbursement/.vs
Reimbursement/API/appsettings.json

Reimbursement/.vs/Reimbursement/v16/.suo
Reimbursement/.vs/Reimbursement/v16/.suo
Reimbursement/.vs/Reimbursement/v16/.suo
Reimbursement/Client/obj/
Reimbursement/Client/bin/

Reimbursement/API/appsettings.Development.json
Reimbursement/.vs/Reimbursement/v16/.suo
Reimbursement/.vs/Reimbursement/v16/.suo
