@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLandingPage";
}

<div class="row">
    <div class="col-lg-6">
        <div class="text-container">
            <h1><span class="turquoise">StartUp Landing</span> Page Template Free</h1>
            <p class="p-large">Use Evolo free landing page template to promote your business startup and generate leads for the offered services</p>
            <a class="btn-solid-lg page-scroll" href="#services">DISCOVER</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
    <div class="col-lg-6">
        <div class="image-container">
            <img class="img-fluid" src="~/Landing_Page/images/header-teamwork.svg" alt="alternative">
        </div> <!-- end of image-container -->
    </div>
</div>