@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLandingPage";
}

<div class="row">
    <div class="col-lg-7">
        <div class="text-container">
            <h1><span class="turquoise">Metrodata Coding Camp</span> Reimbursement System</h1>
            <p class="p-large">Request your reimbursement here, our system will verify and process it for you</p>
            <a class="btn-solid-lg page-scroll" href="Dashboard">Login</a>
        </div> <!-- end of text-container -->
    </div> <!-- end of col -->
    <div class="col-lg-5">
        <div class="image-container">
            <img class="img-fluid" src="~/Landing_Page/images/header-teamwork.svg" alt="alternative">
        </div> <!-- end of image-container -->
    </div>
</div>